.*
*~
!.gitignore
!.travis.yml
!.deps
/nbproject/
*.sublime-project
*.sublime-workspace
/composer.lock
/compile-errors.log
/compile.log

/ext/*
!/ext/ice/
!/ext/include/
!/ext/kernel/
!/ext/clean
!/ext/config.m4
!/ext/config.w32
!/ext/ext.h
!/ext/ext_config.h
!/ext/ice.c
!/ext/ice.h
!/ext/install*
!/ext/php_ext.h
!/ext/php_ice.h

*.o
*.lo
*.la
*.gch