.*
*~
!.gitignore
!.travis.yml
!.deps
/nbproject/
*.sublime-project
*.sublime-workspace
/composer.lock
/compile-errors.log
/compile.log
/id_rsa
/id_pgp

/ext*
/build/php*/*
!/build/php*/ice/
!/build/php*/include/
!/build/php*/kernel/
!/build/php*/clean
!/build/php*/config.m4
!/build/php*/config.w32
!/build/php*/ext.h
!/build/php*/ext_config.h
!/build/php*/ice.c
!/build/php*/ice.h
!/build/php*/install
!/build/php*/php_ext.h
!/build/php*/php_ice.h

*.o
*.lo
*.la
*.gch